<h1>
  Shopping Cart
</h1>
<ng-container *ngIf="cart$ | async as cart">
  <p>
    You have {{ shoppingCartItemCount }} items in your shopping cart.
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of objectKeys">
        <ng-container *ngIf="product != 'key'">
            <td>{{ products[product].product.title }}</td>
            <td>{{ products[product].quantity }}</td>
        </ng-container>        
      </tr>
    </tbody>
  </table>
</ng-container>
